PyPDF2
langchain
langchain-community
langchain-core
langgraph
transformers
langchain-openai
sentence-transformers
chromadb
langchain-huggingface
huggingface_hub[hf_xet]
streamlit
langchain-huggingface  